@import "blocks/breakpoints";
@import "blocks/colors";
@import "blocks/fonts";

@import "blocks/header";
@import "blocks/aboutus";
@import "blocks/service";
@import "blocks/gallery";
@import "blocks/subscribe";
@import "blocks/blog";
@import "blocks/contact";
@import "blocks/footer";
@import "blocks/navigation";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
