.blog {
  background: $violet;
  font-family: $raleway;
  color: $white;
  text-align: center;
  padding: 92px 180px 93px 180px;
}
.blog h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  margin-bottom: 30px;
}
.blog p {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 50px;
}
.blog-posts {
  margin-bottom: 50px;
  text-align: left;
  &__info {
  }
  &__info h4 {
    margin-top: 142px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }
  &__info p {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
  }
}

.card {
  padding: 30px 40px 20px 30px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.data {
}
.number {
  width: 60px;
  height: 60px;
  background: rgba(38, 38, 38, 0.5);
  border-radius: 5px;
  padding: 8px 10px 9px 10px;
}
.number h6,
.number p {
  color: $white;
  font-family: $raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}
.number p {
  margin-top: 9px;
}
.card-1 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("/images/img/thumbnail.png") center center no-repeat;
  background-size: cover;
}
.card-1:hover {
  box-shadow: 0 0 20px rgb(238, 13, 107);
}

.card-2 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("/images/img/thumbnail\ \(1\).png") center center no-repeat;
  background-size: cover;
}
.card-2:hover {
  box-shadow: 0 0 20px rgb(238, 13, 107);
}
.card-3 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("/images/img/thumbnail\ \(2\).png") center center no-repeat;
  background-size: cover;
}
.card-3:hover {
  box-shadow: 0 0 20px rgb(238, 13, 107);
}
.view {
  font-family: $raleway;
  color: $white;
  background: $red;

  display: block;
  border: none;
  cursor: pointer;

  padding: 16px 43px;
  margin: 0 auto;

  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  transition: all 0.5s ease-in;
}
.view:hover {
  background-color: $coral;
  box-shadow: 0 0 20px rgb(238, 13, 107);
}
