.blog {
  background: $violet;
  font-family: $raleway;
  color: $white;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 93px;
}
.blog h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 106px;
  margin-bottom: 30px;
}
.blog p {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 50px;
}
