.sevice {
  background: $blue url("/images/img/Tomatoes.png") right center no-repeat;

  padding: 90px 180px 174px 0;
  @media (max-width: 767.98px) {
    &_ser h1 {
      text-align: center;
    }
  }
}
.container {
  &_2 {
  }
}

.boxes {
  margin-left: 200px;
  margin-right: 99px;
  &__box {
    font-family: $raleway;
    // background-color: $white;
    padding: 39px 70px;
    transition: all 0.5s ease;
  }
  &__box:not(:last-child) {
    margin-bottom: 20px;
  }
  &__box:hover {
    box-shadow: 0 0 20px rgb(247, 136, 10);
    background-color: $white;
  }
}
.boxes {
  &__link {
    color: $text-black;
    font-family: $raleway;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-right: 97px;
  }
  &__text_1 {
  }
  &__text_2 {
  }
  &__text_3 {
  }
  &__text_4 {
  }
}

.our {
  font-family: $raleway;
  &_ser h1 {
    z-index: 2;
    color: $white;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 106px;
    text-align: right;
    text-align: center;
  }
}
.tomatose {
  // background-image: url("../images/img/Tomatoes.png");
}
